Repository C-Alexis4414/Links-to-Experts-Back, pull requests merged in 2024-09, with the labels that each got.

#8 Yl 6 check account
  README.md
  package-lock.json
  package.json
  prisma/migrations/20240726231957_testv_1_1/migration.sql
  prisma/schema.prisma
  prisma/seed/seed.ts
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/authentification/auth.constant.ts
  src/authentification/auth.controller.spec.ts
  src/authentification/auth.controller.ts
  src/authentification/auth.dto.ts
  src/authentification/auth.guard.ts
  src/authentification/auth.module.ts
  src/authentification/auth.service.spec.ts
  src/authentification/auth.service.ts
  src/authentification/controller/auth.controller.ts
  src/authentification/dto/auth.dto.ts
  src/authentification/jwt-auth.guard.ts
  src/authentification/jwt.strategy.ts
  src/authentification/service/auth.service.ts
  src/authentification/type/auth.type.ts
  src/category/category.module.ts
  src/category/controller/category.controller.ts
  src/category/dto/category.dto.ts
  src/category/service/category.service.ts
  src/category/type/category.type.ts
  src/liked/controller/liked.controller.ts
  src/liked/dto/liked.dto.ts
  src/liked/liked.module.ts
  src/liked/service/liked.service.ts
  src/liked/type/liked.type.ts
  src/prisma.service.ts
  src/subscription/controller/subscription.controller.ts
  src/subscription/dto/subscription.dto.ts
  src/subscription/service/subscription.service.ts
  src/subscription/subcription.module.ts
  src/subscription/type/subscription.type.ts
  src/tags/controller/tags.controller.ts
  src/tags/dto/tag.dto.ts
  src/tags/service/tags.service.ts
  src/tags/tag.module.ts
  src/tags/type/tag.type.ts
  src/user/controller/user.controller.spec.ts
  src/user/controller/user.controller.ts
  src/user/dto/UserData.dto.ts
  src/user/service/user.service.spec.ts
  src/user/service/user.service.ts
  src/user/type/user.type.ts
  src/user/user.module.ts
Labels: enhancement

#11 ci: YL-13-GoodPRs-Back
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-lint.yml
Labels: Workflow

#15 gitWorkflow: YL-40-GitWorkflow-CommitTemplate-Back
  .git-commit-template
  .github/semantic.yml
  .github/workflows/pr-semantic.yml
Labels: ci/cd, size/M, tables, crud, tests, gitWorkflow
