Repository C-Alexis4414/Links-to-Experts-Back, pull requests merged in 2024-10, with the labels that each got.

#19 feat: YL-36-BackSecuring-CSRFToken
  package-lock.json
  package.json
  src/app.module.ts
  src/authentification/auth.module.ts
  src/authentification/controller/auth.controller.ts
  src/authentification/jwt.strategy.ts
  src/csrf-exception.filter.ts
  src/csrf.interceptor.ts
  src/main.ts
  src/security/controller/security.controller.ts
  src/security/middleware/cookie-parser.middleware.ts
  src/security/middleware/csrf.middleware.ts
  src/security/security.module.ts
  src/type/express.d.ts
  src/user/controller/user.controller.ts
Labels: enhancement, crud, Security

#17 fix: YL-43-GitWorkflow-BugFix-WrongLabels-Back
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/pr-labeler.yml
Labels: bug, ci/cd, gitWorkflow, size/S

#46 ci: Yl 3 jwt table
  .github/labeler.yml
  package-lock.json
  package.json
  prisma/migrations/20241011092509_access_token_table/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/authentification/auth.module.ts
  src/authentification/controller/auth.controller.ts
  src/authentification/decorator/public.decorator.ts
  src/authentification/dto/auth.dto.ts
  src/authentification/guards/accessToken.guard.ts
  src/authentification/guards/refreshAcces.guard.ts
  src/authentification/jwt-auth.guard.ts
  src/authentification/jwt.strategy.ts
  src/authentification/service/auth.service.ts
  src/authentification/strategies/accessToken.strategy.ts
  src/authentification/strategies/login.strategy.ts
  src/authentification/type/accessTokenPayload.type.ts
  src/authentification/type/auth.type.ts
  src/authentification/type/jwtToken.type.ts
  src/csrf-exception.filter.ts
  src/csrf.interceptor.ts
  src/main.ts
  src/security/controller/security.controller.ts
  src/security/middleware/cookie-parser.middleware.ts
  src/security/middleware/csrf.middleware.ts
  src/security/security.module.ts
  src/user/controller/user.controller.ts
  src/user/service/user.service.ts
Labels: size/XL
